/1.0-Loops
/1.1-BitwiseOperators
/1.2-Patterns
/1.3-Functions
/2-Arrays
/3-SearchingAndSorting
/4-Recursion
/5-DnC
/6-OOP's Concepts
/7-Linked List
/8-Stack
/DSA-Practise
/DSA-Revision
/Practise
/Practise2.0(Arrays)